/* Configurações gerais para a lista de pokémons */
.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem; /* Adiciona espaçamento entre os itens */
}

/* Estilo base para cada Pokémon */
.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra para destacar o card */
    transition: transform 0.3s, box-shadow 0.3s; /* Animação suave ao passar o mouse */
    background: #fff; /* Fundo branco para contraste */
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}


.pokemon:hover {
    transform: translateY(-5px); /* Levanta o card ao passar o mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Intensifica a sombra ao passar o mouse */
}

/* Número do Pokémon */
.pokemon .number {
    color: #000;
    opacity: 0.6;
    text-align: right;
    font-size: 0.75rem; /* Aumenta um pouco o tamanho da fonte */
    margin-bottom: 0.5rem; /* Espaço inferior ajustado */
}

/* Nome do Pokémon */
.pokemon .name {
    text-transform: capitalize;
    color: #333; /* Cor escura para o texto do nome */
    font-size: 1.25rem; /* Tamanho maior e mais legível */
    margin-bottom: 0.5rem; /* Espaço inferior ajustado */
}

/* Detalhes do Pokémon */
.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Lista de tipos de Pokémon */
.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Permite que os tipos se ajustem na linha */
}

/* Tipo individual do Pokémon */
.pokemon .detail .types .type {
    color: #fff;
    padding: 0.5rem 1rem; /* Maior padding para melhor leitura */
    margin: 0.25rem; /* Espaçamento entre tipos ajustado */
    font-size: 0.75rem; /* Tamanho da fonte um pouco maior */
    border-radius: 1rem;
    text-align: center;
    display: inline-block;
    
}

/* Imagem do Pokémon */
.pokemon .detail img {
    max-width: 100%;
    height: auto; /* Ajusta altura proporcionalmente */
    border-radius: 0.5rem; /* Adiciona bordas arredondadas */
    margin-top: 1rem; /* Espaçamento superior ajustado */
}

/* Estilo para a paginação */
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    font-size: 0.75rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    cursor: pointer; /* Adiciona cursor de pointer para interatividade */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

.pagination button:hover {
    background-color: #4a5a9d; /* Cor mais escura ao passar o mouse */
}

/* Estilos responsivos */
@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
